body {
    background-image: url("../../img/fondo_test_lucia.png");
    /*background: linear-gradient(45deg, #F8F5F2,  #F8F5F2, #EDB83D, #D70026, #000b29, #F8F5F2, #F8F5F2);*/
    /*background: linear-gradient(45deg, #b9ffff, #b9ffff, #2196f3 , #155db1, #002973, #b9ffff,#b9ffff );*/
    width: 100%;
    height: 100%;
    background-size: 100%;
    animation: animate 300s linear infinite;
}

h1{
    color: #000B29;
    position: relative;
    float: left;
    margin-left: 4%;  
    margin-top: 5%;
    width: 90%;
    letter-spacing: 2px;
    font-size: 34px;
    
}

.fotos_pelis{
    position: relative;
    float: left;
    width: 12%;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 10px;
    border: 3px solid #000B29;
    margin-bottom: 2%;
}


@media screen and (min-width: 500px) and (max-width: 1778px) {
    .cabecera_menu {
        margin-left: 7%;
    }
    #cabecera_registrar{
        margin-left: 7%;
    } 
}

@media screen and (min-width: 500px) and (max-width: 1346px) {
    .cabecera_menu {
        margin-left: 5%;
    }
    #cabecera_registrar{
        margin-left: 5%;
    } 
}

@media screen and (min-width: 500px) and (max-width: 1107px) {
    
    
    .cabecera_menu {
        margin-left: 3%;
    }
    #cabecera_registrar{
        margin-left: 3%;
        
    } 
}

@media screen and (min-width: 500px) and (max-width: 940px) {

    #logo {
        margin-top: 2%;
        width: 9%;
        padding: 0% 0% 1% 0%;
    }

    .fotos_pelis {
        width: 32%;
        margin-right: 5%;
        margin-left: 10.5%;
        margin-bottom: 2%;
    }

    #lupita {
        visibility: hidden;
    }

    #barra_busqueda {
        width: 80%;
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .cabecera_menu {
        margin-left: 4%;
        padding: 0% 0% 3% 0%;
    }

    #cabecera_registrar {
        margin-left: 5%;
        padding: 0% 0% 3% 0%;
        border: none;
        
    }
    

    #barra_fixed {
        display: none;
    }

    
    .footer_generico{
        margin-right: -2.3%;
    }

    .footer_generico ul li {
        margin-right: 30%;
    }
   

    @media screen and (min-width: 500px) and (max-width: 764px) {
        #cabecera_registrar {
            display: none;
        }
    }
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400%, 0;
    }

    100% {
        background-position: 0 0;
    }
}

